<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controller.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookController</servlet-name>
        <servlet-class>controller.admin.AdminBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-class>controller.admin.AdminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-class>controller.admin.AdminOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>controller.admin.AdminCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/AuthController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookController</servlet-name>
        <url-pattern>/AdminBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/AdminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserController</servlet-name>
        <url-pattern>/AdminUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderController</servlet-name>
        <url-pattern>/AdminOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/AdminCategoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
